// ======================
// Skillcard Component
// ======================

//Include default layout styles
@import "../components/layout.scss";

// -------- Local Variables --------
$container-width-lg: 900px;
$container-width-md: 650px;
$container-width-xs: 370px;

// -------- Project Hero - Img --------
.Project-Hero {
  top: 1rem;
  width: 100%;
}

// -------- Project Data - Div --------
.Project-Data {
  margin: 3rem auto;
  color: $secondary;

  // List of tech
  ul {
    list-style: none;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
}

// -------- Project Data Column - Div --------
.Project-Data-Column {
  margin: 0 1rem;
}

// -------- Project Container - Div --------
.Project-Container {
  max-width: $container-width-xs;
  margin: auto;
  padding: 0.5rem;
}
@media (min-width: $breakpoint-md) {
  .Project-Container {
    max-width: $container-width-md;
    padding: 1rem;
  }
}

@media (min-width: $breakpoint-lg) {
  .Project-Container {
    max-width: $container-width-lg;
    padding: 1rem;
  }
}

// -------- Project Highlights - Div --------
.Project-Highlights {
  width: 500px;
  background: white;
  box-shadow: $shadow-normal;
  margin: auto;
  padding: 2rem 3rem;

  // List of highlights
  ul {
    list-style: none;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
}

// -------- Project Highlight - li --------
.Project-Highlights-Highlight {
  margin: 0.8rem auto;
}

// -------- Project Description - p --------
.Project-Description {
  max-width: 900px;
  margin: 3rem auto;
}

// -------- Project Buttons - Link --------
.Project-Buttons {
  margin: 3rem auto;
}
