// ======================
// Indicators Component
// ======================

//Include default layout styles
@import "../../layout.scss";

// -------- Carousel Item Indicator - Img --------
.Indicators {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  top: -0.15rem;
}
