// ======================
// Global Variables
// ======================

// ======================
// Import Fonts
// ======================

@font-face {
  font-family: "StriverX";
  src: url("../fonts/Striverx.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
}