// ======================
// ContactMe Component
// ======================

// -------- ContactMe Header- h1 --------
.ContactMe-Header {
  margin-bottom: 1rem;
}

// -------- ContactMe Text- p --------
.ContactMe-Text {
  margin-bottom: 1.25rem;
}

// -------- ContactMe Button- Button --------
.ContactMe-Button {
  width: 140px;
  margin: 0 auto;
}
