// ======================
// Footer
// ======================
@import "./layout.scss";

// -------- Footer --------
.Footer {
  width: 100%;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  position: absolute;
  bottom: 0;
  color: black;
  background: white;
}

// On screens Md+
@media (min-width: $breakpoint-md) {
  .Footer {
    text-align: left;
  }
}

// -------- Footer Social Icon Wrapper --------
.Footer_social-icons {
  margin-bottom: 0.8rem;
  height: 43px;
}

// -------- Footer Social Icon Wrapper --------
.Footer_social-icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
  margin: auto 0.25rem;
  position: relative;
  overflow: hidden;
  transition: $transition-smooth-normal;
  cursor: pointer;

  .Footer__social-icon path {
    transition: $transition-smooth-normal;
  }

  // Set up psuedo-element
  &::after {
    content: "";
    background: black;
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    z-index: 0;
    transition: $transition-smooth-normal;
  }

  // On hover fill to top
  &:hover {
    // Change icon color to $primary
    .Footer__social-icon path {
      fill: white;
    }
    // psuedo-element position
    &::after {
      top: 0;
    }
  }
}
// -------- Footer Social Icon  --------
.Footer__social-icon {
  width: 30px;
  height: 30px;
  z-index: 10;
}

// -------- Footer Signature --------
.Footer_signature {
  margin: 3.5rem auto 0 auto;
  color: black;
  p {
    color: black;
  }
}
