// ======================
// Footer
// ======================
@import "./layout.scss";

// -------- Footer --------
.Footer {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: black;
  background: white;
}

// On screens Md+
@media (min-width: $breakpoint-md) {
  .Footer {
    text-align: left;
  }
}

.Footer-Logo {
  font-family: "StriverX", sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem auto 1rem auto;
}

// -------- Footer Social Icon Wrapper --------
.Footer-SocialIcons {
  margin-bottom: 0.8rem;
  height: 43px;
}

// -------- Footer Signature --------
.Footer-Signature {
  margin: 3.5rem auto 0 auto;
  color: black;
  p {
    color: black;
  }
}
