// ======================
// Skillcard Component
// ======================

//Include default layout styles
@import "./layout.scss";

// -------- Navbar - Div --------
.Navbar {
  background-color: transparent;
  position: absolute; //To avoid page shifting on scrolling state change
  width: 100%;
  top: 0;
  z-index: 100;
  transition: $transition-smooth-normal;
}

.Navbar.Is-Active {
  background-color: white;
  box-shadow: $shadow-normal;
  transition: 300ms ease-in;
  animation: expandNavbar forwards 350ms ease-in;
}

@keyframes expandNavbar {
  0% {
    background-color: transparent;
    box-shadow: none;
  }
  50% {
    background-color: white;
    box-shadow: $shadow-normal;
  }
  100% {
    background-color: white;
    box-shadow: $shadow-normal;
  }
}

.Navbar.Is-Scrolled {
  width: 100%; // Fit width to  full screen width
  top: 0;
  position: fixed; // Fix  to top of page
  background-color: white;
  box-shadow: $shadow-normal;
  opacity: 1;
  animation: scrolledNavbar forwards 450ms ease-in;
}

@keyframes scrolledNavbar {
  0% {
    top: -80px;
    background-color: white;
    opacity: 0.4;
    box-shadow: none;
  }
  100% {
    top: 0;
    opacity: 1;
    box-shadow: $shadow-normal;
  }
}

.Header-Logo {
  font-family: "StriverX", sans-serif;
  font-size: 2.8rem;
}

.Header-Links {
  font-size: 1.4rem;
  color: black;
  margin: auto 1.2rem;
  transition: $transition-smooth-fast;
  text-align: center;

  &:hover {
    color: rgb(110, 110, 110);
    text-decoration: none;
  }
}

@media (min-width: $breakpoint-lg) {
  .Header-Links {
    text-align: right;
  }
}

.Navbar-Toggle {
  margin-top: 0.5rem;
  outline: none;
  border: none;

  &:focus {
    outline: none;
    border: none;
  }
}
