// ======================
// Global Variables
// ======================

// ======================
// Color Variables
// ======================

$primary: #000000;
$primary-hover: #2c2c2c;
$secondary: #6e6e6e;
$secondary-hover: #8f8f8f;
$light: #f8f8f8;
$success: $primary;
$failure: #db6565;
$failure-hover: #db8080;

// ======================
// Breakpoints
// ======================
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// ======================
// Transitions
// ======================
$transition-smooth-normal: 350ms ease-in;
$transition-smooth-fast: 150ms ease-in;

// ======================
// Shadow
// ======================
$shadow-normal: 0px 2px 8px rgba(0, 0, 0, 0.25);

// ======================
// Import Fonts
// ======================

@font-face {
  font-family: "StriverX";
  src: url("../fonts/Striverx.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
}

// ======================
// Global Rules
// ======================

body {
  color: $primary;
  font-family: "Poppins";
}

section {
  margin: 1rem 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

ul {
  display: block;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
}

a {
  color: $primary;
  transition: $transition-smooth-normal;

  &:hover {
    color: $secondary;
    cursor: pointer;
    text-decoration: none;
  }
}

main {
  margin-top: 5rem;
}

p {
  color: $secondary;
}
