@import "./layout.scss";

.ProjectCard {
  width: 350px;
  height: 375px;
  border-radius: 0;
  transition: $transition-smooth-normal;
}

.Is-Hovered {
  transition: $transition-smooth-normal;
  transform: scale(1.02);
  cursor: pointer;
}

.ProjectCard-Image {
  object-fit: cover;
}

.ProjectCard-Tech-Wrapper {
  height: 30px;
  color: white;
  margin: 0.5rem auto;
}

.ProjectCard-Button {
  width: 140px;
}
