// ======================
// Skillcard Component
// ======================

//Include default layout styles
@import "./layout.scss";

// -------- ProjectCard - Div --------
.particles{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -100;
}
