// ======================
// Global Variables
// ======================

// ======================
// Color Variables
// ======================

$primary: #000000;
$primary-hover: #2c2c2c;
$secondary: #6e6e6e;
$secondary-hover: #8f8f8f;
$light-gray: #d8d8d8;
$medium-gray: #acacac;
$light: #f8f8f8;
$success: $primary;
$failure: #db6565;
$failure-hover: #db8080;

$colors: (
 primary: $primary,
 primary-hover: $primary-hover,
 secondary: $secondary,
 secondary-hover: $secondary-hover,
 light-gray: $light-gray,
 medium-gray: $medium-gray,
 light: $light,
 success: $success,
 failure: $failure,
 failure-hover: $failure-hover
);

// ======================
// Breakpoints
// ======================
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// ======================
// Transitions
// ======================
$transition-smooth-normal: 350ms ease-in;
$transition-smooth-fast: 150ms ease-in;

// ======================
// Shadow
// ======================
$shadow-normal: 0px 2px 8px rgba(0, 0, 0, 0.25);
